<h2 id="patrocinadores">PATROCINADORES</h2>
<div class="row">
  <div class="column">
    <a href="https://www.espanix.net"><img src="/gore29/img/logo-espanix.png" alt="Espanix" style="width:10%"></a>
  </div>
  <div class="column">
    <a href="https://www.mercadoit.com"><img src="/gore29/img/logo-mercadoit.png" alt="MercadoIT" style="width:10%"></a>
  </div>
  <div class="column">
    <a href="https://www.opengear.com"><img src="/gore29/img/logo-opengear.png" alt="Opengear" style="width:10%"></a>
  </div>
  <div class="column">
    <a href="https://www.ripe.net"><img src="/gore29/img/logo-ripe-ncc.png" alt="RIPE NCC" style="width:10%"></a>
  </div>
  <div class="column">
    <a href="https://www.solid-optics.com"><img src="/gore29/img/logo-solidoptics.png" alt="Opengear" style="width:10%"></a>
  </div>
</div>
<div class="row">
  <div class="column">
    <a href="https://www.uam.es"><img src="/gore29/img/logo-uam.png" alt="UAM" style="width:10%"></a>
  </div>
  <div class="column">
    <a href="https://eps.uam.es"><img src="/gore29/img/logo-eps-uam.jpg" alt="UAM EPS" style="width:10%"></a>
  </div>                                                                                                    
</div>
