<h2 id="patrocinadores">PATROCINADORES</h2>
<table>
    <tr>
        <td><a href="https://www.de-cix.net"><img src="/gore29/img/DE-CIX_200.jpg" alt="DE-CIX"></a></td>
        <td><a href="http://espanix.es"><img src="/gore29/img/logo_espanix_200.png" alt="Espanix"></a></td>
        <td><a href="https://mercadoit.com"><img src="/gore29/img/Logo-MERCADOIT_200.png" alt="MercadoIT"></a></td>
        <td><a href="https://opengear.com"><img src="/gore29/img/opengear_200.png" alt="OpenGear"></a></td>
    </tr>
    <tr>
        <td><a href="https://www.solid-optics.com"><img src="/gore29/img/SO_Logo_200.png" alt="SolidOptics"></a></td>
        <td><a href="https://retn.net"><img src="/gore29/img/RETN_Logo_RGB_200.png" alt="RETN"></a></td>
        <td><a href="https://ripe.net"><img src="/gore29/img/RIPE_NCC_Logo_200.png" alt="RIPE"></a></td>
        <td><img src="/gore29/img/UAM_200.png" alt="Escuela Politecnica Superior, UAM"></td>
    </tr>
</table>
<style>
 td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
  }
</style>