<h2 id="patrocinadores">PATROCINADORES</h2>
<p style="text-align:center;"><a href="https://www.de-cix.net"><img src="/gore29/img/DE-CIX.jpg" alt="DE-CIX"></a></p>
<p style="text-align:center;"><a href="http://espanix.es"><img src="/gore29/img/logo_espanix_mid.png" alt="Espanix"></a></p>
<p style="text-align:center;"><a href="https://mercadoit.com"><img src="/gore29/img/Logo-MERCADOIT_small.png" alt="MercadoIT"></a></p>
<p style="text-align:center;"><a href="https://opengear.com"><img src="/gore29/img/Digi-Opengear-Logo-Color.png" alt="OpenGear"></a></p>
<p style="text-align:center;"><a href="https://www.solid-optics.com"><img src="/gore29/img/SO_Logo.png" alt="SolidOptics"></a></p>
<p style="text-align:center;"><a href="https://retn.net"><img src="/gore29/img/RETN_Logo_RGB_small.png" alt="RETN"></a></p>
<p style="text-align:center;"><a href="https://ripe.net"><img src="/gore29/img/RIPE_NCC_Logo_small.png" alt="RIPE"></a></p>
<p style="text-align:center;"><img src="/gore29/img/UAM_mid.png" alt="Escuela Politecnica Superior, UAM"></p>

